body{
    background-image: url(../multimedia/background-black-difuminated.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 400px;
}